.header .navbar-nav {
    gap: 10px;
    
}


.header .navbar-nav li{
    position: relative;
}

.header .navbar-nav li::after{
    position: absolute;
    content: "";
    width: 0;
    left: 5px;
    height: 3px;
    /* margin: 0 auto; */
    background-color: green;
    display: block;
    transform: 0.5s;
}

.header .navbar-nav li:hover::after{
    width: 85%;
    transform: 0.5s;
}

.carousel-demo{
    max-height: 600px;
}

.carousel-demo .carousel-item .img-carousel{
    max-height: 700px;
}

.carousel-demo .carousel-inner .carousel-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;

}

.carousel-demo .carousel-inner .carousel-caption{
    z-index: 2;
}

.header{
    z-index: 10;
}

.carousel-indicators .active {
    opacity: 1;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: green;
}

.carousel-indicators [data-bs-target]{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: green;
}

/* carousel-demo */
.carousel-demo .carousel-caption .img-iiiustration{
    animation: fadeUp 1s;
    opacity: 0;
    animation-fill-mode: both ; /*giữ lại trạng thái css đích của keyframes */
}

.carousel-demo .carousel-caption h5{
    animation: fadeUp 1.5s;
    animation-delay:1s ;
    opacity: 0;
    animation-fill-mode: both ; /*giữ lại trạng thái css đích của keyframes */
}

.carousel-demo .carousel-caption p{
    animation: fadeUp 1s;
    animation-delay:2s ;
    opacity: 0;
    animation-fill-mode: both ; /*giữ lại trạng thái css đích của keyframes */
}


@keyframes fadeUp {
    0%{
        transform: translateY(200px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: green;
} 

.project .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: green;
}

.project .card:hover .card-body{
    border: 1px solid green;
    transform: border 0.5s;
}

.project .card:hover .card-title{
    color: green;
    font-weight: bold;
}

.available{
    background: url(img/3.jpg);
    background-position: center;
    background-size: cover;
    min-height: 800px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 800px;
}

.available .card{
    background: rgba(45, 45, 45,0.5 );
    backdrop-filter: blur(5px);
}

.available .card:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: #000;
    transform:all 0.5s;
}

.achievement{
    background: url(img/memphis_3.png), url(img/memphis_2.png);
    background-position: bottom left,top right;
    background-size: 500px auto,500px auto;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.achievement .card{
    background-color: rgba(182,182,182,.1) !important;
    backdrop-filter: blur(5px);
}

.footer .fab{
    transform: all 0.5s;
}

.footer .fab:hover{
    transform: all 0.5s;
    color: green;
    cursor: pointer;
    border: 1px solid green !important;
}
